<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<% if @user.blog_posts.any? %>
			<ul class="blog-posts">
				<%= render @blog_posts %>
			</ul>
			<%= will_paginate @blog_posts %>
		<% end %>
	</div>
</div>
